{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": true,
    "vueIndentScriptAndStyle": true
}